<table class="min-w-full border-collapse">
    <thead>
        <tr>
            <th class="text-left w-1/3">Jadranje</th>
            <th class="text-center">Leto</th>
            <th class="text-center">Jadrnic</th>
            <th class="text-center">Zmagovalec: generalno</th>
            <th class="text-center">Zmagovalec: korigirano</th>
        </tr>
    </thead>
    <tbody>
        {% for jadranje in collections.jadranje reversed %}
            <tr>
                <td class="text-left"><a href="{{ jadranje.url }}" class="no-underline border-b-2 border-link hover:bg-link-hover"> {{ jadranje.data.title }} </a></td>
                <td class="text-center">{{ jadranje.data.year }}</td>
                <td class="text-center">{{ jadranje.data.boats }}</td>
                <td class="text-center">
                    {% if jadranje.data.active %}
                        MOŽNA PRIJAVA
                    {% elsif jadranje.data.cancelled %}
                        ODPOVEDANO
                    {% else %}
                        {{ jadranje.data.winner_abs }}
                    {% endif %}
                </td>
                <td class="text-center">{{ jadranje.data.winner_cor }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>